<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalizar
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Cliente:</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <app-input-container erroMensage="Nome é obrigatório e minímo de 5 caracteres." label="Nome">
            <input type="text" name="nome" placeholder="Nome do cliente" class="form-control" ngModel required minlength="5" autocomplete="off">
          </app-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <app-input-container erroMensage="Telefone é obrigatório, permitido somente números" label="Telefone">
            <input type="text" name="telefone" placeholder="Telefone do cliente" pattern="^[0-9]*$" class="form-control" ngModel required
              minlength="5" autocomplete="off">
          </app-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <app-input-container erroMensage="Por favor digite um e-mail válido!" label="E-Mail">
            <input type="text" name="email" placeholder="E-Mail do cliente" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" ngModel autocomplete="off">
          </app-input-container>
        </div>
        <!-- /.col -->
      </div>
      <div class="row invoice-info">
          <div class="col-sm-12 col-xs-12">
              <app-input-container erroMensage="Descrição é obrigatório e minímo de 5 caracteres." label="Descrição">
                <textarea name="descricao" rows="5" cols="3" placeholder="Descrição do serviço realizado" class="form-control" ngModel required minlength="5" autocomplete="off"></textarea>
              </app-input-container>
            </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <app-ordem-itens [itens]="compraItens()" (incrimentaQuantidade)="incrimentaQuantidade($event)" (descrementaQuantidade)="descrementaQuantidade($event)"
          (remover)="remover($event)">

        </app-ordem-itens>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <app-radio [options]="paymentOptions" name="formaPagamento" ngModel required></app-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <app-ordem-fechamento [valorItens]="valorItens()"></app-ordem-fechamento>
        </div>
        <!-- /.col -->
      </div>



      <div class="row">
        <div class="col-xs-12">
          <button (click)="createOrdem(form.value)" type="button" [disabled]="! form.valid || compraItens().length === 0" href="order-summary.html"
            class="btn btn-success pull-right">
            <i class="fa fa-credit-card"></i> Concluir Ordem Serviço
          </button>
        </div>
      </div>
    </form>
  </section>
</section>