<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
    <h3>
        <a class="pull-left" [routerLink]="['/tipo-servico']" routerLinkActive="active"><i class="fa fa-sticky-note-o"></i>Serviços</a>
    </h3>
</section>


<section class="content">

    <div class="row">
        <div class="pad margin no-print">
            <div [ngClass]="[tipoServico?.nome=='Escova' ? 'callout callout-servico-escova' 
                            : tipoServico?.nome=='Manicure' ? 'callout callout-servico-manicure' 
                            : tipoServico?.nome=='Perdicure' ? 'callout callout-servico-perdicure'  
                            : tipoServico?.nome=='Tintura' ?  'callout callout-servico-tintura' 
                            : tipoServico?.nome=='Corte' ? 'callout bg-orange' : 'callout callout-servico-alisamento'
                            ]" style="margin-bottom: 0!important;">
                <span class="pull-right">
                    <i class="fa fa-star"></i></span>
                <h4>
                    Descrição do serviço
                </h4>

            </div>

        </div>
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-header">
                        Tipo de serviços prestado(s): <b>{{tipoServico?.nome}}</b>
                        <small class="pull-right">{{getDateNowFormatdddMMyyy()}}</small>
                    </h3>
                </div>
            </div>
            <div class="row invoice-info">
                <!--INÍCIO DO MENU -->
                <router-outlet></router-outlet>
                <!-- FIM DO MENU -->
            </div>
        </section>
    </div>
    <app-snackbar></app-snackbar>
</section>
<!-- FIM DO CONTEÚDO -->