<div class="col-md-12">
  <fieldset class="fieldset.scheduler-border">
    <legend class="legend.scheduler-border" style="padding-left:10px !important">Contatos</legend>
    <div class="form-group">
      <label class="control-label col-md-2" for="ContatoWiewModel_Email">Email</label>
      <div class="col-md-9">
        <input class="form-control" type="text" id="ContatoWiewModel_Email" name="ContatoWiewModel.Email" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Email" data-valmsg-replace="true"></span>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="ContatoWiewModel_Ddd">Ddd</label>
      <div class="col-md-2">
        <input class="form-control" type="text" id="ContatoWiewModel_Ddd" name="ContatoWiewModel.Ddd" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Ddd" data-valmsg-replace="true"></span>
      </div>
      <label class="control-label col-md-2" for="ContatoWiewModel_Telefone">Telefone</label>
      <div class="col-md-5">
        <input class="form-control" type="text" id="ContatoWiewModel_Telefone" name="ContatoWiewModel.Telefone" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Telefone" data-valmsg-replace="true"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="ContatoWiewModel_Twitter">Twitter</label>
      <div class="col-md-4">
        <input class="form-control" type="text" id="ContatoWiewModel_Twitter" name="ContatoWiewModel.Twitter" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Twitter" data-valmsg-replace="true"></span>
      </div>
      <label class="control-label col-md-1" for="ContatoWiewModel_Google">Google</label>
      <div class="col-md-4">
        <input class="form-control" type="text" id="ContatoWiewModel_Google" name="ContatoWiewModel.Google" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Google" data-valmsg-replace="true"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="ContatoWiewModel_Facebook">Facebook</label>
      <div class="col-md-4">
        <input class="form-control" type="text" id="ContatoWiewModel_Facebook" name="ContatoWiewModel.Facebook" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.Facebook" data-valmsg-replace="true"></span>
      </div>
      <label class="control-label col-md-1" for="ContatoWiewModel_WhatsApp">WhatsApp</label>
      <div class="col-md-4">
        <input class="form-control" type="text" id="ContatoWiewModel_WhatsApp" name="ContatoWiewModel.WhatsApp" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="ContatoWiewModel.WhatsApp" data-valmsg-replace="true"></span>
      </div>
    </div>
  </fieldset>



</div>