<div [ngClass]="[tipoServicoModel.nome=='Escova' ? 'small-box bg-green' 
                  : tipoServicoModel.nome=='Manicure' ? 'small-box bg-blue' 
                  : tipoServicoModel.nome=='Perdicure' ? 'small-box bg-light-blue'  
                  : tipoServicoModel.nome=='Tintura' ?  'small-box bg-yellow' 
                  : tipoServicoModel.nome=='Corte' ? 'small-box bg-orange' : 'small-box bg-red'
                  ]" [@tipoServicoAppeared]="tipoServicoEstado">
    <div class="inner">
        <div>
            <span class="place-info-box-star"><i class="fa fa-star"></i></span>
        </div>
        <h3>{{tipoServicoModel.nome}}</h3>

        <p>{{tipoServicoModel.descricao}}</p>
    </div>
    <div class="icon">
        <i class="fa fa-shopping-cart"></i>
    </div>
    <a [routerLink]="['/servico',tipoServicoModel.id]" class="small-box-footer">
     Mais Informações <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>