<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-shopping-cart"></i> Cadastrar Função para perfil
                </h2>
              </div>
            </div>

            <div class="row invoice-info">
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Nome é obrigatório!" label="Name">
                    <input type="text" id="Name" formControlName="Name" maxlength="15" placeholder="Preencher Name" class="form-control">
                  </app-input-container>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" [routerLink]="['/perfil-funcao']" routerLinkActive="active" class="btn btn-success pull-left">
                  <i class="fa fa-undo"></i> Retornar
                </button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-success pull-right">
                  <i class="fa fa-spinner fa-spin fa-fw"></i> Salvar
                </button>
              </div>
            </div>
          </form>
        </section>
      </section>
    </div>
  </section>
</div>
