<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-shopping-cart"></i> Cadastrar serviço para o tipo de serviço: <span class="tipo-servico-h2">{{TipoServicoNome}}</span>
                </h2>
              </div>
            </div>

            <div class="row invoice-info">
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Nome do serviço é obrigatório!" label="Name">
                    <input type="text" id="Nome" formControlName="Nome" maxlength="50" placeholder="Nome do serviço" class="form-control">
                  </app-input-container>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Descrição deve possuir no mínimo 10 e no máximo 1000 caracteres" validoMensage="Valor preenchido"
                    label="Descricao">
                    <textarea class="form-control" rows="3" cols="3" data-val="true" id="Descricao" formControlName="Descricao"></textarea>
                  </app-input-container>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <app-input-container erroMensage="obrigatório preencher a indicação do serviço!" validoMensage="Valor preenchido" label="Indicacao">
                    <input type="text" id="Indicacao" formControlName="Indicacao" maxlength="200" placeholder="Serviço indicado para ?" class="form-control">
                  </app-input-container>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <app-input-container erroMensage="Preço do serviço é obrigatório" validoMensage="Preco preenchido" label="Preco">
                    <input type="text" id="Preco" formControlName="Preco" maxlength="20" placeholder="Preço do servico"class="form-control Moeda" placeholder="R$ 0,00" currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </app-input-container>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" [routerLink]="['/servico',tipoServicoId]" routerLinkActive="active" class="btn btn-success pull-left">
                  <i class="fa fa-undo"></i> Retornar
                </button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-success pull-right">
                  <i class="fa fa-spinner fa-spin fa-fw"></i> Salvar
                </button>
              </div>
            </div>
          </form>
        </section>
      </section>
    </div>
  </section>
</div>