<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <section class="content-header">
        </section>
  
        <section class="content">
          <section class="invoice">
            <form #form="ngForm">
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="page-header">
                    <i class="fa fa-shopping-cart"></i> Cadastrar Serviço
                  </h2>
                </div>
              </div>
  
              <div class="row invoice-info">
                <div class="form-group">
                  <div class="col-sm-6 col-xs-6">
                    <app-input-container erroMensage="Nome é obrigatório e minímo de 5 caracteres." label="Nome">
                      <input type="text" name="Nome" placeholder="Nome do serviço" class="form-control" ngModel required
                        minlength="5" maxlength="50" autocomplete="off">
                    </app-input-container>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <app-input-container erroMensage="Indicação é obrigatório e minímo de 5 caracteres." label="indicacao">
                      <input type="text" name="indicacao" placeholder="Serviço é indicado?" class="form-control" ngModel>
                    </app-input-container>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8 col-xs-8">
                    <select class="form-control" id="tipoServico" name="tipoServico">
                      <option name="preco" value="">Selecione o Tipo Serviço</option>
                    </select>
                    <span class="text-danger field-validation-valid" data-valmsg-for="tipoServico" data-valmsg-replace="true"></span>
                  </div>
                  <div class="col-sm-4 col-xs-4">
                      <input name="preco" currencyMask placeholder="Preço do serviço"  class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                  </div>
                </div>
    
                <div class="form-group">
                  
                  <div class="col-sm-12 col-xs-12 margin-top-text-area">
                    <app-input-container erroMensage="Descrição é obrigatório e minímo de 5 caracteres." label="Descrição">
                      <textarea name="descricaoServico" rows="5" cols="3" placeholder="Descrição do tipo de serviço" class="form-control" ngModel
                        minlength="5" autocomplete="off"></textarea>
                    </app-input-container>
                  </div>
                </div>
                
               
                
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" [disabled]="! form.valid" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i> Salvar
                  </button>
                </div>
              </div>
            </form>
          </section>
        </section>
      </div>
    </section>
  </div>