<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de categoria</h3>
                    </div>
                    <form id="formCategoria" method="post" class="form-horizontal" role="form" action="/Categoria/Create">
                        

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Nome">Nome</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" data-val="true" data-val-length="O Nome da categoria deve possuir no máximo 50 caracteres" data-val-length-max="50" data-val-required="Informe o nome da categoria" id="Nome" name="Nome" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Descricao">Descrição</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="3" cols="3" data-val="true" data-val-length="Descrição deve possuir no mínimo 10 caracteres" data-val-length-max="500" data-val-length-min="10" id="Descricao" name="Descricao"></textarea>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Status">Status</label>
                            <div class="col-md-9">
                                <select class="form-control" id="Status" name="Status"><option value="AT">Ativo</option>
                                <option value="IT">Inativo</option>
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Status" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <app-evento-cancelar-salvar></app-evento-cancelar-salvar>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8JXjCPgS7dhCll3leW9uQXC9a2PYQ7znO_eva3AfDFCIWI-WPBmDhTimWOYdfcER0qRho39SompbIPArQwJtGX1Fkcu3JYpaKc7XtuycEx-2JTGAZYGAzHYdkxXM87uDHprw2KnopDM86rWmaRzEBWA">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
