<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-shopping-cart"></i> Cadastrar usuário de acesso
                </h2>
              </div>
            </div>

            <div class="row invoice-info">
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Nome é obrigatório!" validoMensage="Ok" label="UserName">
                    <input type="text" id="UserName" formControlName="UserName" maxlength="50" placeholder="Preencher o Nome" class="form-control">
                  </app-input-container>
                </div>
              </div>
              <div class="form-group">
               
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p>Preenche o campo senha com números, caracters especias e maisucula</p>
                  <app-input-container erroMensage="Senha é obrigatório" validoMensage="Ok" label="PasswordHash">
                    <input type="text" id="PasswordHash" formControlName="PasswordHash" maxlength="50" placeholder="Preencher a senha de acesso"
                      class="form-control">
                  </app-input-container>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p>&nbsp;</p>
                  <app-input-container erroMensage="Digitar somente números" validoMensage="Ok" label="PhoneNumber">
                    <input type="text" id="PhoneNumber" formControlName="PhoneNumber" maxlength="50" placeholder="Preencher o número de telefone"
                      class="form-control">
                  </app-input-container>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Email é obrigatório!" validoMensage="Ok" label="Email">
                    <input type="email" id="Email" formControlName="Email" maxlength="50" placeholder="Preencher o email" class="form-control">
                  </app-input-container>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <app-input-container erroMensage="Confirmar o email obrigatório!" validoMensage="Ok" label="NormalizedEmail">
                    <input type="NormalizedEmail" id="NormalizedEmail" formControlName="NormalizedEmail" maxlength="50" placeholder="Confirmar email" class="form-control">
                  </app-input-container>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" [routerLink]="['/perfil-funcao-requisicao']" routerLinkActive="active" class="btn btn-success pull-left">
                  <i class="fa fa-undo"></i> Retornar
                </button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-success pull-right">
                  <i class="fa fa-spinner fa-spin fa-fw"></i> Salvar
                </button>
              </div>
            </div>
          </form>
        </section>
      </section>
    </div>
  </section>
</div>