/* Layout */
.wrapper {

    min-height: 100% !important;
    height:  100% !important;

  }

.centralizadoDiv {
    margin: 0 auto !important;
    float: none!important;
}


.bg-light-yellow-3,
.callout.callout-aviso-yellow-3,
.alert-aviso-yellow-3,
.alert-aviso-yellow-3,
.label-aviso-yellow-3,
.modal-aviso-yellow-3 .modal-body {
  background-color: #cdcdb4 !important;
}
.bg-light-yellow-3-active,
.modal-aviso-yellow-3 .modal-header,
.modal-aviso-yellow-3 .modal-footer {
  background-color: #cdcdb4 !important;
}
.bg-snow-1,
.callout.callout-aviso-snow-1,
.alert-aviso-snow-1,
.alert-aviso-snow-1,
.label-aviso-snow-1,
.modal-aviso-snow-1 .modal-body {
  background-color: #fffafa !important;
}
.bg-light-snow-1-active,
.modal-aviso-snow-1 .modal-header,
.modal-aviso-snow-1 .modal-footer {
  background-color: #fffafa !important;
}

.bg-cornsilk-2,
.callout.callout-aviso-bg-cornsilk-2,
.alert-aviso-bg-cornsilk-2,
.alert-aviso-bg-cornsilk-2,
.label-aviso-bg-cornsilk-2,
.modal-aviso-bg-cornsilk-2 .modal-body {
  background-color: #eee8cd !important;
}
.bg-light-bg-cornsilk-2-active,
.modal-aviso-bg-cornsilk-2 .modal-header,
.modal-aviso-bg-cornsilk-2 .modal-footer {
  background-color: #eee8cd !important;
}
.bg-cornsilk-1,
.callout.callout-aviso-bg-cornsilk-1,
.alert-aviso-bg-cornsilk-1,
.alert-aviso-bg-cornsilk-1,
.label-aviso-bg-cornsilk-1,
.modal-aviso-bg-cornsilk-1 .modal-body {
  background-color: #fff8dc !important;
}
.bg-light-bg-cornsilk-1-active,
.modal-aviso-bg-cornsilk-1 .modal-header,
.modal-aviso-bg-cornsilk-1 .modal-footer {
  background-color: #fff8dc !important;
}
.bg-ghost-white,
.callout.callout-aviso-ghost-white,
.alert-aviso-ghost-white,
.alert-aviso-ghost-white,
.label-aviso-ghost-white,
.modal-aviso-ghost-white .modal-body {
  background-color: #f8f8ff !important;
}
.bg-light-ghost-white-active,
.modal-aviso-ghost-white .modal-header,
.modal-aviso-ghost-white .modal-footer {
  background-color: #f8f8ff !important;
}
.fg-link-adiconar{
    color: #ee7600 !important;
    font-weight: bold;
}
.callout.callout-servico-alisamento{
    color: #fff !important;
}
.callout.callout-servico-alisamento {
    border-color: #dd4b39;
  }
.callout.callout-servico-alisamento,
.alert-servico-alisamento,
.label-servico-alisamento,
.modal-servico-alisamento .modal-body {
  background-color: #dd4b39 !important;
}

.callout.callout-servico-corte{
    color: #fff !important;
}
.callout.callout-servico-corte {
    border-color: #ff851b;
}
.callout.callout-servico-corte,
.alert-servico-corte,
.label-servico-corte,
.modal-servico-corte .modal-body {
  background-color: #ff851b !important;
}
.callout.callout-servico-escova{
    color: #fff !important;
}
.callout.callout-servico-escova {
    border-color: #00a65a;
}
.callout.callout-servico-escova,
.alert-servico-escova,
.label-servico-escova,
.modal-servico-escova .modal-body {
  background-color: #00a65a !important;
}
.callout.callout-servico-tintura{
    color: #fff !important;
}
.callout.callout-servico-tintura {
    border-color: #f39c12;
}
.callout.callout-servico-tintura,
.alert-servico-tintura,
.label-servico-tintura,
.modal-servico-tintura .modal-body {
  background-color: #f39c12 !important;
}
.callout.callout-servico-manicure{
    color: #fff !important;
}
.callout.callout-servico-manicure {
    border-color: #0073b7;
}
.callout.callout-servico-manicure,
.alert-servico-manicura,
.label-servico-manicura,
.modal-servico-manicura .modal-body {
  background-color: #0073b7 !important;
}
.callout.callout-servico-perdicure{
    color: #fff !important;
}
.callout.callout-servico-perdicure {
    border-color: #3c8dbc;
}
.callout.callout-servico-perdicure,
.alert-servico-perdicure,
.label-servico-perdicure,
.modal-servico-perdicure .modal-body {
  background-color: #3c8dbc !important;
}
.editar-data-table{
  margin:5px;
}
.detalhe-data-table{
  margin:5px;
}
.detalhe-data-table-texto{
  text-align: center;
}
.detalhe-data-table-numero{
  text-align: right;
}

.actionButton{
  text-align:right;
  width:10%;
  margin:2px;
}
.actionButton-cor-fundo{
  background-color:#f5f5f5;
}
.td-invisivel{
  display:none;
}
.data-table-column{
  text-align: center;
  font-size: 14px;
  color:#12416B;
  background-color:rgba(225, 228, 214, 0.425);
}
.table-column-100{
  max-width: 40px;
}